/* Start content */
.content {
    position: relative;
    display: flex;
    justify-content: space-between;
}
/* End content */

/* Start aside */
.content aside {
    flex-basis: 23%;
    background-color: var(--light-main);
    height: calc(100vh - 98px);
    overflow: auto;
}

.content aside .tutorial-section {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content aside .tutorial-section .tutorial-title {
    position: relative;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark-main);
    padding: 10px;
    border-left: 2px solid var(--dark-main);
}

.content aside .tutorial-section .tutorial-item a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: var(--dark-main);
    transition: color 0.3s ease, background 0.3s ease;
}

.content aside .tutorial-section .tutorial-item a:hover {
    background-color: var(--main);
    color: var(--light-main)
}
/* End aside */

/* Start article */
.content article {
    flex-basis: 73%;
}

.content article h1,
.content article h2,
.content article h3,
.content article h4,
.content article h5,
.content article h6 {
    font-weight: 400;
    text-transform: capitalize;
    color: var(--dark-main);
    margin: 40px 0 20px;
}

.content article p {
    color: var(--dark-main);
    font-weight: 300;
    line-height: 1.8;
}

.content article p.info {
    background-color: var(--main);
    color: var(--light-main);
    padding: 15px;
    border-radius: 4px;
}

.content article p.info::before {
    content: "Note:";
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 5px;
}

.content article p.danger {
    background-color: var(--danger);
    color: var(--light-main);
    padding: 15px;
    border-radius: 4px;
}

.content article p.danger::before {
    content: "warning:";
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 5px;
}

.content article ul li {
    font-weight: 300;
    margin-bottom: 10px;
}

.content article .code-format {
    background-color: var(--light-main);
    border-left: 4px solid var(--main);
    padding: 8px 14px;
    line-height: 1.8;
}

.content article img {
    width: 100%;
    margin: 30px 0;
}

.content article a {
    color: var(--main);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
}

.content article a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main);
    transition: width 0.3s ease;
}

.content article a:hover::before {
    width: 100%;
}
/* End article */

/* Start toggle */
div.side-toggle {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    background-color: var(--main);
    color: var(--light-main);
    padding: 6px 8px;
    border: 1px solid var(--main);
    border-radius: 4px;
    transition: color 0.3s ease, background 0.3s ease;
}

div.side-toggle:hover {
    color: var(--main);
    background-color: var(--light-main);
}
/* End toggle */