{% extends "layout.html" %} {% block content %}
<!-- ########## Start Article ########## -->
<div class="container content">
  <aside class="hid-xe" id="toggle-item">
    {% for sub_category, data in side_data.items() %}
    <ul class="tutorial-section">
      <li class="tutorial-title">{{ sub_category }}</li>
      {% for article in data %}
      <li class="tutorial-item">
        <a
          href="{{ url_for('article', category_id=category_id, article_id=article[1]) }}"
          >{{ article[0] }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </aside>
  <article id="article">
    {% for element in content %} {{ element }} {% endfor %}
  </article>
</div>
<div class="side-toggle vis-xe-ib" id="toggle" data-active="#222222">
  <i class="fa-solid fa-plus" id="toggle-icon"></i>
</div>
<script src="{{ url_for('static', filename='js/parse_content.js')}}"></script>
<!-- ########## End Article ########## -->
{% endblock content %}
