{% extends "layout.html" %} {% block content %}
<!-- ########## Start Content ########## -->
<section class="landing">
  <div class="container">
    <h1 class="landing-text">Best code document</h1>
  </div>
</section>
<section class="tutorial-item">
  <div class="container">
    <h2>html</h2>
    <p>The language for building web pages</p>
    <a href="#">Learn html</a>
  </div>
</section>
<section class="tutorial-item alt-color">
  <div class="container">
    <h2>css</h2>
    <p>The language for styling web pages</p>
    <a href="#">Learn css</a>
  </div>
</section>
<section class="tutorial-item">
  <div class="container">
    <h2>javascript</h2>
    <p>The language for programming web pages</p>
    <a href="#">Learn javascript</a>
  </div>
</section>
<!-- ########## End Content ########## -->
{% endblock content %}
