{% extends "layout.html" %} {% block content %}
<!-- ########## Start form ########## -->
<div class="container content">
  <form action="" method="POST">
    {{ form.hidden_tag() }} {{ form.edit.label }} {{ form.edit }} {{
    form.title.label }} {{ form.title }} {{ form.parent.label }} {{ form.parent
    }} {{ form.index.label }} {{ form.index }} {{ form.submit }}
  </form>
  <!-- ########## End form ########## -->

  <!-- ########## Start table view ########## -->
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>parent</th>
        <th>index</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category[1] }}</td>
        <td>-</td>
        <td>-</td>
      </tr>
      {% endfor %} {% for sub_category in sub_categories %}
      <tr>
        <td>{{ sub_category[0] }}</td>
        <td>{{ sub_category[1] }}</td>
        <td>{{ sub_category[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- ########## End table view ########## -->
{% endblock content %}
