{% extends "layout.html" %} {% block content %}
<!-- ########## Start Content ########## -->
<div class="container content">
  <!-- ########## Start table view ########## -->
  <table class="table-full">
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>title</th>
        <th>author</th>
        <th>Category</th>
        <th>subcategory</th>
        <th>index</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td><input type="checkbox" /></td>
        <td>
          <a href="{{ url_for('article', category_id=article.sub_category.id, article_id=article.id) }}">{{ article.title }}</a>
          <div class="article-options">
            <a href="{{ url_for('update_article', article_id=article.id) }}">Edit</a>
            <button id="delete-article" data-id="{{ article.id }}" type="button">Delete</button>
            <a href="{{ url_for('article', category_id=article.sub_category.id, article_id=article.id) }}">Preview</a>
          </div>
        </td>
        <td>{{ article.author }}</td>
        <td>{{ article.sub_category.category.title }}</td>
        <td>{{ article.sub_category.title }}</td>
        <td>{{ article.index }}</td>
        <td>{{ article.post_date }}</td>
      </tr>
      {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<!-- ########## End Content ########## -->
<script src="{{ url_for('static', filename='js/delete_article.js')}}"></script>
{% endblock content %}
