/* Start content */
.content {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* ُEnd content */

/* Start form */
.content form {
    flex-basis: 35%;
}
/* ُEnd form */

/* Start table */
.content table {
    flex-basis: 60%;
    border: 1px solid #ccc;
    text-align: left;
}

.content table.table-full {
    flex-basis: 100%;
}

.content table thead {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.content table thead th {
    padding: 10px 20px;
    text-transform: capitalize;
}

.content table tbody {
    background-color: var(--light-main);
}

.content table tbody tr td {
    padding: 20px;
    position: relative;
    color: var(--dark-main)
}

.content table tbody tr td > a {
    text-decoration: none;
}

.content table tbody tr td .article-options {
    position: absolute;
    display: none;
}

.content table tbody tr:hover td .article-options {
    display: block;
}

.content table tbody tr td .article-options a {
    display: inline-block;
    text-decoration: none;
    color: var(--main);
    font-size: 0.9em;
    text-transform: capitalize;
    margin-right: 8px;
}

/* ُEnd table */